.floating-button {
	z-index: 1;
	margin-top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;
	width: 72px;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: 0.3s ease;
	user-select: none;
}

.slide-up-40px {
	animation: slide-up-40 0.3s;
}

.slide-up-70px {
	animation: slide-up-70 0.3s;
}

@keyframes slide-up-40 {
	from {
		transform: translateY(40px);
		opacity: 0.2;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slide-up-70 {
	from {
		transform: translateY(70px);
		opacity: 0.2;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.rotate-45 {
	animation: rotate1 0.3s;
	animation-fill-mode: forwards;
}

.reset-rotate-45-deg {
	animation: rotate2 0.3s;
	animation-fill-mode: forwards;
}

@keyframes rotate1 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(45deg);
	}
}

@keyframes rotate2 {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(0deg);
	}
}

.floating-button:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 1366px) {
	.floating-button {
		height: 65px;
		width: 65px;
	}
}
