.landing-page-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.landing-page-title {
	position: absolute;
	font-family: "Arciform";
	font-size: 50px;
	color: white;
	left: 1%;
	top: 1%;
	margin: 0;
	font-size: 32px;
	user-select: none;
}
