@font-face {
    font-family: arciform;
    src: url(./assets/fonts/Arciform.otf);
}

body {
    height: 100vh;
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    height: max-content;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    height: 100vh;
    overflow: hidden;
}
